/* Allgemeines Styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{ /* Hauptteil oben: Margin um Titel anpassen */
    margin: 5px;
}



/* Nav / Footer Styling für alle Seiten */
.divNavFooter{
    border-top: 2px solid black; /* Setzt oben an Nav und Footer einen Rand */
    border-bottom: 2px solid black; /* Setzt unten an Nav und Footer einen Rand */
    background-color: #9ac7f8;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.divNavFooter p{
    margin: 0; /* Footer: Margin von p-Absätzen entfernen */
}


/* Nav Styling */
#navLeft a{ /* Nav: Hauptlink Schrift-Styling-Anpassung */
    color: black;
    font-size: 20px;
    text-decoration: none;
}

#navRight{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#navRight a{ /* Nav rechts: Links Schrift-Farbe-Anpassung */
    color: #085394;
}


/* Footer Styling */
#footerMiddle{ /* Mittlerer Text im Footer anpassen */
    font-size: 15px;
    font-style: italic;
}
/* Ende Nav / Footer Styling für alle Seiten */



/* Warenkorbknopf anpassungen */
.shoppingCartButton{ /* Warenkorbknopf: Anpassung Grösse und Style */
    height: 20px;
    width: 20px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

.shoppingCartButton img{ /* Warenkorbknopf: Anpassung Bildgrössen */
    width: 20px;
    height: 20px;
}
/* Ende Warenkorbknopf anpassungen */



/* Hauptteil oben(mainTop) Styling */
#indexFeedbackMainTop{ /* Hauptteil oben (für alle Seiten): Titel und Bild in Spalte zentrieren */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indexFeedbackMainTop img{ /* Hauptteil oben (Index und Feedback): Bildgrösse anpassen */
    height: 275px;
}

#indexFeedbackMainTop p{ /* Hauptteil oben (Index und Feedback): Styling p */
    color: red;
    font-size: 10px;
    margin: 0px;
}

#mainTop{ /* Hauptteil oben: Styling für alle ausser Index */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

#mainTop p{
    margin: 0px;
}



/* Hauptteil unten(mainBottom) Styling */
#mainBottom{ /* Hauptteil unten (nur Pizza, Satat und Soft Drink): Bilder in Reihe(default) und responsiv */
    display: flex;
    flex-wrap: wrap; /* macht die Bilder responsiv zur Fensterbreite */
    justify-content: space-around;
}


/* Hauptteil unten: Styling Index */
#indexMainBottom{ /* Bezieht sich nur auf das index.html File */
    display: flex;
    flex-wrap: wrap; /* macht die Bilder responsiv zur Fensterbreite */
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

#indexMainBottom img{ /* Bezieht sich nur auf das index.html File */
    height: 175px;
    width: 260px;
    object-fit: cover;
}

.textOverImg{ /* Link auf den Bildern auf der Hauptseite */
    position: relative;
}

.textOverImg a{ /* Link auf den Bildern auf der Hauptseite positionieren */
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Menu Items Styling (Pizza, Salat, Soft Drink) */
.menuItem{ /* Kontainer der einzelnen Items (Pizza, Salat, Soft Drink und deren Inhalte) */
    margin: 5px 10px;
}

.menuImage img{ /* Bilder der einzelnen Items (Pizza, Salat, Soft Drink) */
    height: 175px;
    width: 200px;
    object-fit: cover;
}

.nameSaladSoftDrink{ /* Kontainer für Salat und Soft Drink NAmen */
    font-size: 15px;
}

.purchaseContainer{ /* Kontainer im denen der Name/die Auswahl der Preis und der Einkaufsbutton ist */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.purchaseContainer p{  /* Schrift im Kontainer der Name/die Auswahl in denen der Preis und der Einkaufsbutton ist */
    margin: 0px;
}

.menuPrice{ /* Kontainer im denen der Preis und der Einkaufsbutton ist */
    display: flex;
    flex-direction: row;
}

.menuPrice p{  /* Schrift des Preises */
    margin-right: 10px;
}


.ingredients p{ /* Zutaten Pizza und Salate: Anpassung Schriftgrösse */
    font-size: 7.5px;
}



/* Feedback Seite Styling */
#feedbackMainBottom{
    display: flex;
    justify-content: center;
    padding: 0px 160px;
}

#idColumnQuestions{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#idColumnAnswers{
    width: 320px;
    display: flex;
    flex-direction: column;
}

.rowNarrow{
    height: 20px;
    margin: 10px;
}

.rowNarrow p{
    margin: 0px;
}

.rowNarrowRight{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin: 10px;
}

.fieldNarrow{
    width: 100%;
}

.rowWide{
    height: 200px;
    margin: 10px;
}

.rowWide p{
    margin: 0px;
}

#rowWideLeft{
    display: flex;
    flex-direction: column;
}

#fieldWide{
    height: 170px;
}

#rowWideLeft button{
    align-self: flex-end;
    margin-top: 10px;
    height: 20px;
}
/* Ende Feedback Seite Styling */